{% load i18n admin_urls %}
<div class="submit-row text-center">
{% if show_save %}<input class="btn btn-primary mb-1" type="submit" value="{% trans 'Save' %}" class="default" name="_save" />{% endif %}
{% if show_delete_link %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <a href="{% add_preserved_filters delete_url %}" class="btn btn-danger mb-1 deletelink">{% trans "Delete" %}</a>
{% endif %}
{% if show_save_as_new %}<input class="btn btn-primary mb-1" type="submit" value="{% trans 'Save as new' %}" name="_saveasnew" />{% endif %}
{% if show_save_and_add_another %}<input class="btn btn-default mb-1" type="submit" value="{% trans 'Save and add another' %}" name="_addanother" />{% endif %}
{% if show_save_and_continue %}<input class="btn btn-default mb-1" type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" />{% endif %}
</div>
